<<<<<<< HEAD
td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

td img {
    width: 100px;
    height: 100px;
    margin: 0px;
}

img {
    width: 300px;
    height: 300px;
}

.caja{
    margin-top: 10px;
}

=======
td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

td img {
    width: 100px;
    height: 100px;
    margin: 0px;
}

img {
    width: 300px;
    height: 300px;
}
>>>>>>> 9512bb2995af8f253988b67c149374ee90b5cda3
